.post-preview-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 40px;
}

.post-preview {
    &:hover {
        box-shadow: 0 0 30px 5px #ccc;

    }
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #eee;

    text-decoration: none;
    color: black;
    p {
        padding: 10px;
        margin: 0;
    }
    h1 {
        padding: 10px;
        margin: 0;
        font-size: 13pt;
        font-weight: normal;
    }
    img {
        border-radius: 10px;
        width: 100%;
    }
}