article.post {
    padding-top: 40px;

    img {
        max-width: 100%;
        display: block;
        margin: auto;
        max-height: 600px;
    }

    .title {
        font-size: 30pt;
        line-height: 40pt;
    }

    .info {
        font-weight: 200;
    }

    .content {
        padding: 40px 0;

        p {
            line-height: 30px;
            font-size: 13pt;
        }

    }
}